.App {
  max-width: 960px;
  margin: 30px auto;
  background-color: rgb(254, 240, 244);
  border-radius: 8px;
}

.App h1 {
  color: #600f32;
  font-size: 50px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  padding: 20px 0;
}

.App footer {
  text-align: center;
}

.App footer a {
  color: #600f32;
  text-decoration: none;
}