body {
  margin: 0;
  font-family:'Bangers', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(images/IMG_7735.jpeg);
}

code {
  font-family: 'Bungee Shade', cursive;
}
